body {
  background-color: #272640 !important;
  font-family: Microsoft JhengHei;
}

/*family*/
.family {
  position: absolute;
  top: 45%;
  height: 100px;
  width: 250px;
  border-radius: 20px;
  background-color: #272640;
  text-align: center;
  line-height: 100px;
  font-size: 28px;
  font-weight: bold;
}
.fan_family,
.fan_title {
  left: 30%;
  border: 3px #caf0f8 solid;
  color: #caf0f8;
}
.zheng_family,
.zheng_title {
  left: 55%;
  border: 3px #fec8ff solid;
  color: #fec8ff;
}
.fan_family:hover {
  background-color: #383761;
  cursor: pointer;
}
.zheng_family:hover {
  background-color: #383761;
  cursor: pointer;
}

/*server_info*/
.ip_list {
  position: absolute;
  width: 85%;
  left: 10%;
  top: 30%;
}
.server_count {
  position: absolute;
  left: 25%;
  top: 10%;
  font-size: 20px;
  opacity: 0%;
}
.ip {
  font-size: 25px;
  opacity: 0%;
}
.ip:hover {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.ip_line {
  height: 3px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 40px;
  opacity: 0%;
}
.arrowfan {
  position: absolute;
  left: 95%;
  top: 5%;
  height: 50px;
  width: 50px;
  opacity: 0%;
  cursor: pointer;
}
.arrowzheng {
  position: absolute;
  left: 95%;
  top: 5%;
  height: 50px;
  width: 50px;
  opacity: 0%;
  cursor: pointer;
}

/*GPU_info*/
.ip_title {
  position: absolute;
  left: 3%;
  top: 5%;
  font-size: 28px;
  opacity: 0%;
}
.data_info {
  position: absolute;
  left: 3%;
  top: 20%;
  font-size: 25px;
  opacity: 0%;
}
.gpu_id_list {
  width: 200px;
}
.GPU_block {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 65%;
  height: 80%;
}
.id_circle {
  position: absolute;
  height: 40px;
  width: 40px;
  border: 3px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.GPU_block_item {
  width: 95%;
  height: 250px;
  border: 5px solid;
  border-radius: 15px;
  margin-bottom: 5%;
  box-shadow: 10px 5px 5px #515555;
}
.GPU_info {
  font-size: 28px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.GPU_datil {
  position: relative;
  bottom: 50px;
}
.gpu_utilizations {
  margin-left: 5%;
  margin-top: 3%;
}
.gpu_memory_uses {
  margin-left: 35%;
  margin-top: 3%;
}
.gpu_temperature {
  margin-left: 65%;
  margin-top: 3%;
}

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
  opacity: 30%;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

.CircularProgressbar.CircularProgressbar-inverted
  .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

/*Ip_register*/
.table {
  font-weight: bold;
  border-collapse: collapse;
  width: 100%;
}
.ip_arrow {
  position: absolute;
  top: 90%;
  left: 95%;
  width: 50px;
  height: 50px;
  border: 3px #a5a6f6 solid;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #a5a6f6;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}
.ip_arrow_back {
  position: absolute;
  left: 95%;
  top: 5%;
  height: 50px;
  width: 50px;
  opacity: 40%;
  cursor: pointer;
}
.ip_register {
  position: absolute;
  width: 80%;
  height: 70%;
  margin: 10% 10% 0 10%;
}
.table_ip {
  width: 35%;
  color: #d6d6d6;
  border: solid 1px;
  padding: 8px;
}

.table_user {
  width: 15%;
  color: #d6d6d6;
  border: solid 1px;
  padding: 8px;
}

.table_item {
  color: #d6d6d6;
  border: solid 1px;
  padding: 8px;
}

.table_item:hover {
  background-color: #494bcf;
}
